.row
  .column
    - if notice
      %p.notice= notice

    .clearfix
      .float-left
        %h4 Features
      .float-right
        = link_to 'New Feature', new_feature_path, class: 'button'

    %table
      %thead
        %tr
          %th Name
          %th Description
          %th Slug
          %th State

      %tbody
        - @features.each do |feature|
          %tr
            %td= link_to feature.name, edit_feature_path(feature), class: 'strong'
            %td= feature.description
            %td= feature.slug
            %td
              - if feature.state == 'enabled'
                %i.fas.fa-check-circle.fa-2x.state__enabled
              - else
                %i.fas.fa-times-circle.fa-2x.state__disabled

            - if Plug.allow_delete
              %td= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' }

    
