.row
  .column
    %p#notice= notice

    %p
      %b Name:
      = @feature.name
    %p
      %b Description:
      = @feature.description
    %p
      %b Slug:
      = @feature.slug
    %p
      %b State:
      = @feature.state

    = link_to 'Edit', edit_feature_path(@feature), class: 'button'
    \|
    = link_to 'Back', features_path, class: 'button'
