%p#notice= notice

%p
  %b Name:
  = @feature.name
%p
  %b Description:
  = @feature.description
%p
  %b State:
  = @feature.state

= link_to 'Edit', edit_feature_path(@feature)
\|
= link_to 'Back', features_path
