.row
  .column
    - if notice
      %p.notice= sanitize(notice)

    - if alert
      %p.alert= sanitize(alert)

    .clearfix
      .float-left
        %h4 Site Notices
      .float-right
        = link_to 'New Site Notice', new_site_notice_path, class: 'button'

    %table
      %thead
        %tr
          %th{ width: 200 } Name
          %th Notice
          %th{ width: 200 } Slug
          %th{ width: 150, align: 'center' } State
          
          - if Plug.allow_delete
            %th Actions

      %tbody
        - @site_notices.each do |site_notice|
          %tr
            %td= link_to sanitize(site_notice.name), edit_site_notice_path(site_notice), class: 'strong'
            %td= sanitize(site_notice.notice.html_safe)
            %td= site_notice.slug
            %td{ width: 150, align: 'center' }
              - if site_notice.state == 'enabled'
                %i.fas.fa-check-circle.fa-2x.state.state--enabled
              - else
                %i.fas.fa-times-circle.fa-2x.state.state--disabled

            - if Plug.allow_delete
              %td= link_to 'Destroy', site_notice, method: :delete, data: { confirm: 'Are you sure?' }

    
