.row
  .column
    - if notice
      %p.notice= sanitize(notice)

    - if alert
      %p.alert= sanitize(alert)

    .clearfix
      .float-left
        %h4 Site Notices
      .float-right
        = link_to 'New Site Notice', new_site_notice_path, class: 'button'

    %table
      %thead
        %tr
          %th Name
          %th Notice
          %th Slug
          %th State
          
          - if Plug.allow_delete
            %th Actions

      %tbody
        - @site_notices.each do |site_notice|
          %tr
            %td= link_to site_notice.name, edit_site_notice_path(site_notice), class: 'strong'
            %td= site_notice.notice
            %td= site_notice.slug
            %td
              - if site_notice.state == 'enabled'
                %i.fas.fa-check-circle.fa-2x.state__enabled
              - else
                %i.fas.fa-times-circle.fa-2x.state__disabled

            - if Plug.allow_delete
              %td= link_to 'Destroy', site_notice, method: :delete, data: { confirm: 'Are you sure?' }

    
